---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
---

<header class="header">
 <div class="container">
  <a
   class="navbar-brand"
   href="/"
   aria-label="Home"
  >
   <Image
    src={logo}
    height={40}
    class="d-inline-block align-top"
    alt="logo"
   />
  </a>
 </div>
</header>
